<%if (true){ let item=material.response[0] %>
    <div class="page-content page-container" id="page-content">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-12 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-12">
                                <div class="card-block">
                                    <div class="row">
                                        <h3 class="col-md-10 m-b-20 p-b-5 b-b-default f-w-600">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23"
                                                fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path
                                                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                            </svg>
                                            Details for <%= item.pretty_formula %> with Material Id: <%= item.material_id %>
                                        </h3>
                                        <div class="col-md-2 m-b-20 p-b-5 b-b-default f-w-600">  
                                            <a class="btn btn-outline-success" style="float:right" onclick="DownloadJSON()" href="#">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download-fill" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                                                  </svg> Download JSON
                                          </a>
                                    </div>                                   

                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p class="col-md-3 m-b-10 f-w-600">Material Id</p>
                                            <p class="col-md-9 text-muted f-w-400">
                                                <%= item.material_id %>
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <p class="col-md-4 m-b-10 f-w-600">Formula</p>
                                            <p class="col-md-8 text-muted f-w-400">
                                                <%= item.pretty_formula %>
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <p class="col-md-3 m-b-10 f-w-600">Symprec</p>
                                            <p class="col-md-9 text-muted f-w-400">
                                                <%= item.spacegroup.symprec %>
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <p class="col-md-4 m-b-10 f-w-600">Source</p>
                                            <p class="col-md-8 text-muted f-w-400">
                                                <%= item.spacegroup.source %>
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <p class="col-md-3 m-b-10 f-w-600">Symbol</p>
                                            <p class="col-md-9 text-muted f-w-400">
                                                <%= item.spacegroup.symbol %>
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <p class="col-md-4 m-b-10 f-w-600">Number</p>
                                            <p class="col-md-8 text-muted f-w-400">
                                                <%= item.spacegroup.number %>
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <p class="col-md-3 m-b-10 f-w-600">Point Group</p>
                                            <p class="col-md-9 text-muted f-w-400">
                                                <%= item.spacegroup.point_group %>
                                            </p>
                                        </div>

                                        <div class="col-md-4">
                                            <p class="col-md-4 m-b-10 f-w-600">Crystal System</p>
                                            <p class="col-md-8 text-muted f-w-400">
                                                <%= item.spacegroup.crystal_system %>
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="col-md-4 m-b-10 f-w-600">Hall</p>
                                            <p class="col-md-8 text-muted f-w-400">
                                                <%= item.spacegroup.hall %>
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="col-md-4 m-b-10 f-w-600">Tags</p>
                                            <p class="col-md-8 text-muted f-w-400">
                                                <%= item.tags %>
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="col-md-4 m-b-10 f-w-600">Density</p>
                                            <p class="col-md-8 text-muted f-w-400">
                                                <%= item.density %>
                                            </p>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <style>
        body {
            background-color: #f9f9fa
        }

        .padding {
            padding: 3rem !important
        }

        .user-card-full {
            overflow: hidden
        }

        .card {
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
            box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
            border: none;
            margin-bottom: 30px
        }

        .m-r-0 {
            margin-right: 0px
        }

        .m-l-0 {
            margin-left: 0px
        }

        .user-card-full .user-profile {
            border-radius: 5px 0 0 5px
        }

        .bg-c-lite-green {
            background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
            background: linear-gradient(to right, #ee5a6f, #f29263)
        }

        .user-profile {
            padding: 20px 0
        }

        .card-block {
            padding: 1.25rem
        }

        .m-b-25 {
            margin-bottom: 25px
        }

        h6 {
            font-size: 14px
        }

        .card .card-block p {
            line-height: 25px
        }

        @media only screen and (min-width: 1400px) {
            p {
                font-size: 18px
            }
        }

        .card-block {
            padding: 1.25rem
        }

        .b-b-default {
            border-bottom: 1px solid #e0e0e0
        }

        .m-b-20 {
            margin-bottom: 20px
        }

        .p-b-5 {
            padding-bottom: 5px !important
        }

        .card .card-block p {
            line-height: 25px
        }

        .m-b-10 {
            margin-bottom: 10px
        }

        .text-muted {
            color: #919aa3 !important
        }

        .b-b-default {
            border-bottom: 1px solid #e0e0e0
        }

        .f-w-600 {
            font-weight: 600
        }

        .m-b-20 {
            margin-bottom: 20px
        }

        .m-t-40 {
            margin-top: 20px
        }

        .p-b-5 {
            padding-bottom: 5px !important
        }

        .m-b-10 {
            margin-bottom: 10px
        }

        .m-t-40 {
            margin-top: 20px
        }

        .user-card-full .social-link li {
            display: inline-block
        }
    </style>
   
    <script type="text/javascript">
        function DownloadJSON() {
            var bioMaterial = new Array();
            var material = <%- JSON.stringify(material.response[0]) %>;
            bioMaterial.push(material);
            //Convert JSON Array to string.
            var json = JSON.stringify(bioMaterial);
            json = [json];
            var blob1 = new Blob(json, { type: "text/plain;charset=utf-8" });
     
            //Browser check.
            var isIE = false || !!document.documentMode;
            if (isIE) {
                window.navigator.msSaveBlob(blob1, bioMaterial[0].pretty_formula + '_' + bioMaterial[0].material_id + ".json");
            } else {
                var url = window.URL || window.webkitURL;
                link = url.createObjectURL(blob1);
                var a = document.createElement("a");
                a.download = bioMaterial[0].pretty_formula + '_' + bioMaterial[0].material_id + ".json";
                a.href = link;
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            }
        }

    </script>

<% } %>