<%if (true){ %>
  <div class="row">
    <h2 class="col-md-9">Search results for <%= material.response[0].pretty_formula %></h2>
    <div class="col-md-3 m-b-20 p-b-5 b-b-default f-w-600">  
      <a class="btn btn-outline-success" style="float:right" onclick="DownloadJSON()" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-download-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 0a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 4.095 0 5.555 0 7.318 0 9.366 1.708 11 3.781 11H7.5V5.5a.5.5 0 0 1 1 0V11h4.188C14.502 11 16 9.57 16 7.773c0-1.636-1.242-2.969-2.834-3.194C12.923 1.999 10.69 0 8 0zm-.354 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V11h-1v3.293l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
            </svg> Download Full JSON
    </a>
  </div> 
  </div>
 
  <table class="table table-bordered">
    <thead style="background-color: #6a8a7d; color: white;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Material Id</th>
        <th scope="col">Formula</th>
        <th scope="col">Symprec</th>
        <th scope="col">Source</th>
        <th scope="col">Symbol</th>
        <th scope="col">Number</th>
        <th scope="col">Point Group</th>
        <th scope="col">Crystal System</th>
        <th scope="col">Hall</th>
        <th scope="col" style="width: 25%;">Tags</th>
        <th scope="col">Density </th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% material.response.forEach(function(bioData, index){ %>
        <tr>
          <td>
            <%= index+1 %>
          </td>
          <th scope="row"><a style="text-decoration: none !important;" href="/search/?data=<%= bioData.material_id %>">
              <%= bioData.material_id %>
            </a></th>
          <td>
            <%= bioData.pretty_formula %>
          </td>
          <td>
            <%= bioData.spacegroup.symprec %>
          </td>
          <td>
            <%= bioData.spacegroup.source %>
          </td>
          <td>
            <%= bioData.spacegroup.symbol %>
          </td>
          <td>
            <%= bioData.spacegroup.number %>
          </td>
          <td>
            <%= bioData.spacegroup.point_group %>
          </td>
          <td>
            <%= bioData.spacegroup.crystal_system %>
          </td>
          <td>
            <%= bioData.spacegroup.hall %>
          </td>
          <td>
            <%= bioData.tags %>
          </td>


          <td>
            <%= bioData.density %>
          </td>
          <td>
            <a class="btn btn-primary" style="text-decoration: none !important; color: white!important;"
              href="/search/?data=<%= bioData.material_id %>">
              View
            </a>
          </td>

        </tr>
        <% }) %>


    </tbody>
  </table>


  <script type="text/javascript">
    function DownloadJSON() {
        var bioMaterial = new Array();
        var material = <%- JSON.stringify(material.response) %>;
        bioMaterial.push(material);
        //Convert JSON Array to string.
        var json = JSON.stringify(bioMaterial);
        json = [json];
        var blob1 = new Blob(json, { type: "text/plain;charset=utf-8" });
 
        //Browser check.
        var isIE = false || !!document.documentMode;
        if (isIE) {
            window.navigator.msSaveBlob(blob1, material[0].pretty_formula + ".json");
        } else {
            var url = window.URL || window.webkitURL;
            link = url.createObjectURL(blob1);
            var a = document.createElement("a");
            a.download = material[0].pretty_formula + ".json";
            a.href = link;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }
    }

</script>

  <% } %>